.KanbanModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
}

.KanbanModal-content {
    background: white;
    border-radius: 10px;
    width: max-content;
    height: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: auto;
}

.KanbanModal-close-btn:before {
    content: "x";
    color: black;
    font-weight: 300;
    font-family: Arial, sans-serif;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.KanbanModal-form {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.KanbanModal-input-container {
    margin: 10px 0;
}

.KanbanModal-input {
    width: 200px;
}

.KanbanModal-footer {
    display: flex;
    padding-bottom: 40px;
    justify-content: center;
}

.KanbanModal-input-submit-btn {
    background-color: lightsteelblue;
    opacity: 0.8;
    width: 20%;
    padding: 0.3rem;
    border: 1px solid white;
    font-size: medium;
    border-radius: 10px;
    cursor: pointer;
    justify-self: center;
}
